body {
    background-image: url('/images/fone.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
    background: #ffffff;
    border-radius: 10px;
}

.card-footer {
    background: #ffffff;
    border-top: 1px solid #e9ecef;
    padding: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

.text-primary {
    color: #007bff;
    transition: all 0.3s ease;
}

    .text-primary:hover {
        text-decoration: underline;
    }

h2 {
    font-weight: bold;
    color: #333;
}

a {
    text-decoration: none;
}
